@{
    ViewBag.Title = "Home Page";
}

<h1>The Purple Onion</h1> <!-- TODO: Replace with PO logo jpg -->
<p>
    @Html.ActionLink("Place Order", "New", "Orders", new { area = "" }, null)
</p>
<p>
    @if(User.IsInRole("Admin"))
    {
        @Html.ActionLink("View Orders", "Index", "Orders", new { area = "" }, null)
        @Html.ActionLink("View Inventory", "Index", "Inventories", new { area = "" }, null)
    }
</p>