@model PurpleOnion.Models.Order
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Purple Onion</title>
    <!-- Bootstrap core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template
    <link href="css/business-frontpage.css" rel="stylesheet">-->
</head>
<header>
    <img class="card" src="~/images/space.png" />
</header>
<h2>New Order</h2>
@using (Html.BeginForm("Add", "Orders", FormMethod.Post, new { @class = "form" }))
{
    Html.RenderPartial("_OrderForm");
}
