
@{
    ViewBag.Title = "OrderConfirm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Thank You For Your Order!</h1>
<h3>@Html.ActionLink("Return to Home Page", "Index", "Home", new { area = "" }, null)</h3>
